<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LearningResourceMapper">
    
    <resultMap type="LearningResource" id="LearningResourceResult">
        <result property="resourceId"    column="resource_id"    />
        <result property="courseId"    column="course_id"    />
        <result property="resourceName"    column="resource_name"    />
        <result property="resourceType"    column="resource_type"    />
        <result property="resourcePath"    column="resource_path"    />
        <result property="fileSize"    column="file_size"    />
        <result property="uploaderId"    column="uploader_id"    />
        <result property="uploadTime"    column="upload_time"    />
    </resultMap>

    <sql id="selectLearningResourceVo">
        select resource_id, course_id, resource_name, resource_type, resource_path, file_size, uploader_id, upload_time from learning_resource
    </sql>

    <select id="selectLearningResourceList" parameterType="LearningResource" resultMap="LearningResourceResult">
        <include refid="selectLearningResourceVo"/>
        <where>  
            <if test="courseId != null "> and course_id = #{courseId}</if>
            <if test="resourceName != null  and resourceName != ''"> and resource_name like concat('%', #{resourceName}, '%')</if>
            <if test="resourceType != null  and resourceType != ''"> and resource_type = #{resourceType}</if>
            <if test="resourcePath != null  and resourcePath != ''"> and resource_path = #{resourcePath}</if>
            <if test="fileSize != null "> and file_size = #{fileSize}</if>
            <if test="uploaderId != null "> and uploader_id = #{uploaderId}</if>
            <if test="uploadTime != null "> and upload_time = #{uploadTime}</if>
        </where>
    </select>
    
    <select id="selectLearningResourceByResourceId" parameterType="Long" resultMap="LearningResourceResult">
        <include refid="selectLearningResourceVo"/>
        where resource_id = #{resourceId}
    </select>

    <insert id="insertLearningResource" parameterType="LearningResource" useGeneratedKeys="true" keyProperty="resourceId">
        insert into learning_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseId != null">course_id,</if>
            <if test="resourceName != null and resourceName != ''">resource_name,</if>
            <if test="resourceType != null and resourceType != ''">resource_type,</if>
            <if test="resourcePath != null and resourcePath != ''">resource_path,</if>
            <if test="fileSize != null">file_size,</if>
            <if test="uploaderId != null">uploader_id,</if>
            <if test="uploadTime != null">upload_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseId != null">#{courseId},</if>
            <if test="resourceName != null and resourceName != ''">#{resourceName},</if>
            <if test="resourceType != null and resourceType != ''">#{resourceType},</if>
            <if test="resourcePath != null and resourcePath != ''">#{resourcePath},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="uploaderId != null">#{uploaderId},</if>
            <if test="uploadTime != null">#{uploadTime},</if>
         </trim>
    </insert>

    <update id="updateLearningResource" parameterType="LearningResource">
        update learning_resource
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="resourceName != null and resourceName != ''">resource_name = #{resourceName},</if>
            <if test="resourceType != null and resourceType != ''">resource_type = #{resourceType},</if>
            <if test="resourcePath != null and resourcePath != ''">resource_path = #{resourcePath},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="uploaderId != null">uploader_id = #{uploaderId},</if>
            <if test="uploadTime != null">upload_time = #{uploadTime},</if>
        </trim>
        where resource_id = #{resourceId}
    </update>

    <delete id="deleteLearningResourceByResourceId" parameterType="Long">
        delete from learning_resource where resource_id = #{resourceId}
    </delete>

    <delete id="deleteLearningResourceByResourceIds" parameterType="String">
        delete from learning_resource where resource_id in 
        <foreach item="resourceId" collection="array" open="(" separator="," close=")">
            #{resourceId}
        </foreach>
    </delete>

    <select id="selectLearningResourceListByCourseId" resultType="com.ruoyi.system.domain.LearningResource">
        SELECT * FROM learning_resource WHERE course_id = #{courseId}
    </select>
</mapper>