<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LearningRecordMapper">
    
    <resultMap type="LearningRecord" id="LearningRecordResult">
        <result property="recordId"    column="record_id"    />
        <result property="userId"    column="user_id"    />
        <result property="courseId"    column="course_id"    />
        <result property="recordType"    column="record_type"    />
        <result property="joinTime"    column="join_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="courseProgress"    column="course_progress"    />
        <result property="videoProgress"    column="video_progress"    />
        <result property="taskProgress"    column="task_progress"    />
        <result property="examProgress"    column="exam_progress"    />
        <result property="totalScore"    column="total_score"    />
        <result property="courseStatus"    column="course_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="userName"    column="user_name"    />
        <result property="courseName"    column="course_name"    />
        <result property="nickName" column="nick_name" />
        <result property="courseCode" column="course_code" />
    </resultMap>

    <sql id="selectLearningRecordVo">
        select lr.record_id, lr.user_id, lr.course_id, lr.record_type, lr.join_time, lr.end_time, lr.course_progress, lr.video_progress, lr.task_progress, lr.exam_progress, lr.total_score, lr.course_status, lr.create_time, lr.update_time,
        u.user_name, u.nick_name, c.course_name, c.course_code
        from learning_record lr
        left join sys_user u on lr.user_id = u.user_id
        left join course c on lr.course_id = c.course_id
    </sql>

    <select id="selectLearningRecordList" parameterType="LearningRecord" resultMap="LearningRecordResult">
        <include refid="selectLearningRecordVo"/>
        <where>  
            <if test="userId != null "> and lr.user_id = #{userId}</if>
            <if test="courseId != null "> and lr.course_id = #{courseId}</if>
            <if test="recordType != null "> and lr.record_type = #{recordType}</if>
            <if test="joinTime != null "> and lr.join_time = #{joinTime}</if>
            <if test="endTime != null "> and lr.end_time = #{endTime}</if>
            <if test="courseProgress != null "> and lr.course_progress = #{courseProgress}</if>
            <if test="videoProgress != null "> and lr.video_progress = #{videoProgress}</if>
            <if test="taskProgress != null "> and lr.task_progress = #{taskProgress}</if>
            <if test="examProgress != null "> and lr.exam_progress = #{examProgress}</if>
            <if test="totalScore != null "> and lr.total_score = #{totalScore}</if>
            <if test="courseStatus != null "> and lr.course_status = #{courseStatus}</if>
            <if test="userName != null and userName != ''"> and u.user_name like concat('%', #{userName}, '%')</if>
            <if test="courseCode != null and courseCode != ''"> and c.course_code = #{courseCode}</if>
        </where>
    </select>
    
    <select id="selectLearningRecordByRecordId" parameterType="Long" resultMap="LearningRecordResult">
        <include refid="selectLearningRecordVo"/>
        where lr.record_id = #{recordId}
    </select>

    <select id="selectLearningRecordByUserIdAndCourseId" resultMap="LearningRecordResult">
        <include refid="selectLearningRecordVo"/>
        where lr.user_id = #{userId} and lr.course_id = #{courseId} limit 1
    </select>

    <insert id="insertLearningRecord" parameterType="LearningRecord" useGeneratedKeys="true" keyProperty="recordId">
        insert into learning_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="courseId != null">course_id,</if>
            <if test="recordType != null">record_type,</if>
            <if test="joinTime != null">join_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="courseProgress != null">course_progress,</if>
            <if test="videoProgress != null">video_progress,</if>
            <if test="taskProgress != null">task_progress,</if>
            <if test="examProgress != null">exam_progress,</if>
            <if test="totalScore != null">total_score,</if>
            <if test="courseStatus != null">course_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="recordType != null">#{recordType},</if>
            <if test="joinTime != null">#{joinTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="courseProgress != null">#{courseProgress},</if>
            <if test="videoProgress != null">#{videoProgress},</if>
            <if test="taskProgress != null">#{taskProgress},</if>
            <if test="examProgress != null">#{examProgress},</if>
            <if test="totalScore != null">#{totalScore},</if>
            <if test="courseStatus != null">#{courseStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateLearningRecord" parameterType="LearningRecord">
        update learning_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="recordType != null">record_type = #{recordType},</if>
            <if test="joinTime != null">join_time = #{joinTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="courseProgress != null">course_progress = #{courseProgress},</if>
            <if test="videoProgress != null">video_progress = #{videoProgress},</if>
            <if test="taskProgress != null">task_progress = #{taskProgress},</if>
            <if test="examProgress != null">exam_progress = #{examProgress},</if>
            <if test="totalScore != null">total_score = #{totalScore},</if>
            <if test="courseStatus != null">course_status = #{courseStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteLearningRecordByRecordId" parameterType="Long">
        delete from learning_record where record_id = #{recordId}
    </delete>

    <delete id="deleteLearningRecordByRecordIds" parameterType="String">
        delete from learning_record where record_id in 
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
</mapper>