<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TaskSubmissionMapper">
    
    <resultMap type="TaskSubmission" id="TaskSubmissionResult">
        <result property="submissionId"    column="submission_id"    />
        <result property="recordId"    column="record_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="submissionContent"    column="submission_content"    />
        <result property="submissionFile"    column="submission_file"    />
        <result property="submissionTime"    column="submission_time"    />
        <result property="isGraded"    column="is_graded"    />
        <result property="gradeComment"    column="grade_comment"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="userId"    column="user_id"    />
        <result property="gradeScore"    column="grade_score" />
        <result property="studentName" column="student_name" />
        <result property="studentAvatar" column="student_avatar" />
        <result property="taskName" column="task_name" />
        <result property="courseName" column="course_name" />
        <result property="dueDate" column="due_date" />
        <result property="score" column="score" />
    </resultMap>

    <sql id="selectTaskSubmissionVo">
        select ts.*, su.user_name as student_name,
               su.avatar as student_avatar,
               lt.task_name as task_name,
               lt.due_date as due_date,
               c.course_name,
               ts.grade_score as score
        from task_submission ts
        left join learning_record lr on lr.record_id = ts.record_id
        left join sys_user su on su.user_id = lr.user_id
        left join learning_task lt on lt.task_id = ts.task_id
        left join course c on c.course_id = lt.course_id
    </sql>

    <select id="selectTaskSubmissionList" parameterType="TaskSubmission" resultMap="TaskSubmissionResult">
        <include refid="selectTaskSubmissionVo"/>
        <where>  
            <if test="recordId != null "> and ts.record_id = #{recordId}</if>
            <if test="taskId != null "> and ts.task_id = #{taskId}</if>
            <if test="submissionContent != null  and submissionContent != ''"> and ts.submission_content = #{submissionContent}</if>
            <if test="submissionFile != null  and submissionFile != ''"> and ts.submission_file = #{submissionFile}</if>
            <if test="submissionTime != null "> and ts.submission_time = #{submissionTime}</if>
            <if test="isGraded != null  and isGraded != ''"> and ts.is_graded = #{isGraded}</if>
            <if test="gradeComment != null  and gradeComment != ''"> and ts.grade_comment = #{gradeComment}</if>
        </where>
    </select>
    
    <select id="selectTaskSubmissionBySubmissionId" parameterType="Long" resultMap="TaskSubmissionResult">
        <include refid="selectTaskSubmissionVo"/>
        where ts.submission_id = #{submissionId}
    </select>

    <insert id="insertTaskSubmission" parameterType="TaskSubmission" useGeneratedKeys="true" keyProperty="submissionId">
        insert into task_submission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordId != null">record_id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="submissionContent != null">submission_content,</if>
            <if test="submissionFile != null">submission_file,</if>
            submission_time,
            <if test="isGraded != null">is_graded,</if>
            <if test="gradeComment != null">grade_comment,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="userId != null">user_id,</if>
            <if test="gradeScore != null">grade_score,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordId != null">#{recordId},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="submissionContent != null">#{submissionContent},</if>
            <if test="submissionFile != null">#{submissionFile},</if>
            <choose>
              <when test="submissionTime != null">#{submissionTime}</when>
              <otherwise>now()</otherwise>
            </choose>,
            <if test="isGraded != null">#{isGraded},</if>
            <if test="gradeComment != null">#{gradeComment},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="gradeScore != null">#{gradeScore},</if>
         </trim>
    </insert>

    <update id="updateTaskSubmission" parameterType="TaskSubmission">
        update task_submission
        <trim prefix="SET" suffixOverrides=",">
            <if test="recordId != null">record_id = #{recordId},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="submissionContent != null">submission_content = #{submissionContent},</if>
            <if test="submissionFile != null">submission_file = #{submissionFile},</if>
            <if test="submissionTime != null">submission_time = #{submissionTime},</if>
            <if test="isGraded != null">is_graded = #{isGraded},</if>
            <if test="gradeComment != null">grade_comment = #{gradeComment},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="gradeScore != null">grade_score = #{gradeScore},</if>
        </trim>
        where submission_id = #{submissionId}
    </update>

    <delete id="deleteTaskSubmissionBySubmissionId" parameterType="Long">
        delete from task_submission where submission_id = #{submissionId}
    </delete>

    <delete id="deleteTaskSubmissionBySubmissionIds" parameterType="String">
        delete from task_submission where submission_id in 
        <foreach item="submissionId" collection="array" open="(" separator="," close=")">
            #{submissionId}
        </foreach>
    </delete>

    <!-- 根据学习记录ID和任务ID查询提交记录 -->
    <select id="selectByRecordAndTaskId" resultMap="TaskSubmissionResult">
        <include refid="selectTaskSubmissionVo"/>
        where ts.record_id = #{recordId} and ts.task_id = #{taskId}
    </select>
</mapper>